server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/travel
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: Password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus,info

